@import "base";

.container {
  padding-top:100px;
}

.banner {
  background: #FF8841;
	color:white;
  font-family: Armata;
	height: 90px;
	position:fixed;
	text-align:center;
	width:100%;

	> h1 { 
   line-height:60px;
   margin-bottom: 0;
	 margin-top:0;
  }

	> h5 {
    margin-top: 0;	
		a {
		 color: #3F3F3F;
		}
	}
}

.add-sound-link {
  background: #FF8841;
	bottom:0;
  font-family: Armata;
	font-size: 20px;
	line-height:25px;
	height:25px;
	left: 50%;
	margin-left: -100px;
  position:fixed; 
	text-align:center;
	width:200px;

  a {
	  color:white;
	}
}

#add-sound {
  border: 1px solid #dedede;
	height:300px;
}

.tracks
{
  width:100%;
}
