<table class="tracks">
  <% tracks.each do |track| %>
    <tr>
	  	<td>
				<%= track %>
		  </td>
    </tr>
  <% end %>
</table>

<div id="add-sound">
  <input type="text" name="soundclound-url">
</div>

<div class="add-sound-link">
  <a href="/#add-sound">Add a sound</a>
</div>

