<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Best of soundcloud Rap & RnB</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="banner">
      <h1>Best of soundcloud Rap & RnB</h1>
		  <h5>by <a target="_blank" href="http://christ.azika-eros.org">@supm4n</a></h5>
		</div>
		<div class="container">
		  <%= yield %>
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrollTo.min.js"></script>
		<script src="/js/angular.min.js"></script>
		<!--<script src="/js/bootstrap.min.js"></script>-->
		<script src="/js/app.js"></script>
	</body>
</html>
